<!-- Footer -->
<footer>

  <div class="row">
    <div class="one columns logo">
        <img src="{{asset('images/logo-bottoms.png')}}" alt="">
    </div>

    <div class="six columns footer-middle">
      <div class="row">
        <div class="footer-nav">
          <ul class="link-list">
            {#<li><a href="{{path('first', {'level1': 'ProBono'})}}">Pro bono</a></li>#}
            {#<li><a href="{{path('second', {'level1': 'Inquiries', 'level2': 'CareerOpportunities'})}}">Careers</a></li>#}
            {#<li><a href="{{path('first', {'level1': 'sitemap'})}}">Site map</a></li>#}
            <li style="color: #666666; font-size: 12px;">{#<a href="{{path('first', {'level1': 'extranet'})}}">#}Extranet{#</a>#}</li>
            <li><a href="{{path('first', {'level1': 'Disclaimer'})}}">Disclaimer</a></li>
            <li><a href="{{path('second', {'level1': 'Inquiries', 'level2': 'ContactLocation'})}}">Contact K|P</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="copyright">
          <p>&copy; K|P LAW FIRM. ALL RIGHTS RESERVED.  </p>
        </div>
      </div>
    </div>

    <div class="five columns footer-socials">
      <div>
        <h5>Share on:</h5>
        <ul>
        {% if page is defined %}
          <li class="linkedin"><a href="http://www.linkedin.com/shareArticle?mini=true&url={{(host()~path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')))|url_encode()}}&title={{page.title}}&summary={{page.caption}}&source={{host()}}" target="_blank"><img src="{{asset('images/icon_linkedin.jpg')}}" alt=""></a></li>
         {% else %}
         <li class="linkedin"><a href="http://www.linkedin.com/shareArticle?mini=true&url={{(host()~path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')))|url_encode()}}&title=KP-Law&summary=&source={{host()}}" target="_blank"><img src="{{asset('images/icon_linkedin.jpg')}}" alt=""></a></li>
        {% endif %}

          <li class="twitter"><a href="https://twitter.com/share" data-via="kp-law" data-text="" data-count="none" target="_blank"><img src="{{asset('images/icon_twitter.jpg')}}" alt=""></a>
          </li>
          <li class="gplus"><a href="https://plus.google.com/share?url={{host()}}" onclick="javascript:window.open(this.href,
  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><img src="{{asset('images/icon_googleplus.jpg')}}" alt=""></a></li>
          <li class="print"><a href="#{#{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}?print=true#}" onclick="window.print();return false;"><img src="{{asset('images/icon-print.jpg')}}" alt=""></a></li>
          <li class="sent">
            {% if page is defined %}
            <a href="mailto:?subject={{page.title}}&body={{page.caption}} {{(host()~path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')))|url_encode()}}&title=KP-Law&summary=&source={{host()}}"><img src="{{asset('images/icon-sendtomail.jpg')}}" alt=""></a>
            {% else %}
            <a href="mailto:?"><img src="{{asset('images/icon-sendtomail.jpg')}}" alt=""></a>
            {% endif %}
          </li>
        </ul>
      </div>
    </div> 

  </div> 
</footer>