<!-- Header and Nav -->
<header>
    <div class="header-top">
      <div class="row">
        <div class="two columns">
          <a href="{{path('home')}}"><img src="{{asset('images/logo.jpg')}}" /></a>
        </div>
        <div class="three columns">
          <span class="language">
            {#<a href="{{path('change_lang', {'lang':'el'})}}" {% if app.request.locale == 'el' %}class='active'{% endif %}>ΕΛΛ</a> |
            <a href="{{path('change_lang', {'lang':'en'})}}" {% if app.request.locale == 'en' %}class='active'{% endif %}>ENG</a>#}
          </span>
        </div>
        <div class="four columns">
          <form action="{{path('search')}}" method='get'>
            <input type="text" name="search" class="search" placeholder="Search">
          </form>
        </div>

      </div>
    </div>
    <div class="header-main">
      <div class="row">
        {#{% include "KpSiteBundle::nav.html.twig" %}#}
        {{ knp_menu_render('main', {'depth': 3}) }}

        <div class="binder">
          <a href="{{path('binder')}}">View Binder (<span id="counter">{{getBinderPages()|length}}</span>)</a>
          <p>
            add items to your binder to email or print all at once
          </p>
        </div>
      </div>
    </div>
  </header>
  <!-- End Header and Nav -->
