<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="{{asset('stylesheets/binder/default.css')}}">
	<link rel="stylesheet" media="print" href="{{asset('stylesheets/binder/print.css')}}">
</head>
<body>
	<div class="page front">
		<table width="200" align="center">
			<tr height="10">
				<td></td>
			</tr>
			<tr height="30">
				<td bgcolor="#a02013"></td>
			</tr>
			<tr height='1000'>
				<td><img src="{{asset('images/binder/logo.jpg')}}" width="200" alt=""></td>
			</tr>
			<tr height="30">
				<td  bgcolor="#a02013"></td>
			</tr>
		</table>
	</div>

	<div class="page tos">
		<div class="header"></div>
		<div class="title">Contents</div>
		<div class="table">
			<table>
                            {% for curPage in pages %}
                                {% set curResultRoute = findRoute(curPage) %}
                                {% set category = getL1Parent(findMenuItem(curPage)) %}
				<tr>
					<td class="key">{{category.name}}</td>
					<td>{{curPage.shortTitle}}</td>
				</tr>
                            {% endfor %}
			</table>
		</div>
		<div class="footer"></div>
	</div>

	{% set left = true %}
        {% for curPage in pages %}
            {# A litle logic to make sure a photo is always visible #}
            {% set category = getL1Parent(findMenuItem(curPage)) %}
            {% if curPage|get_class|contains("Kp\\SiteBundle\\Entity\\Person") %}
                {% set author = curPage %}
            {% else %}
                {% set authors = curPage|getAuthors %}
                {% if authors[0] is defined %}
                    {% set author = authors[0] %}
                {% endif %}
            {% endif %}
            {% if author is defined %}
                {% if asset(author.hidefPhotoWebPath) == '/' %}
                    {% set photoPath = asset(author.photoWebPath) %}
                {% else %}
                    {% set photoPath = asset(author.hidefPhotoWebPath) %}
                {% endif %}
            {% endif %}
            {# End the little logic #}
            {% if left == true %}
                {% include 'KpSiteBundle:Binder:pageleft.html.twig' %}
            {% else %}
                {% include 'KpSiteBundle:Binder:pageright.html.twig' %}
            {% endif %}
            {% set left = not left %}
        {% endfor %}


	<div class="page back">
		<table width="200" align="center">
			<tr height='1100'>
				<td><img src="{{asset('images/binder/back.jpg')}}" width="200" alt=""></td>
			</tr>
		</table>
	</div>
</body>
</html>