{% extends 'KpSiteBundle::base.html.twig' %}
{% block content %}
<div class="main binder">
	<div class="row">
		<div class="content">
		<div class="title_large">
		<table>
            <tbody>
            	<tr>
	                <td>
	                    <h2>Your Binder</h2>
	                </td>
            	</tr>
        	</tbody>
		 </table>
		</div>
		<table class="mybinder">
			<tbody>
				<tr>
					<th class="title">Title</th>
					<th class="category">Category</th>
					<th class="remove">&nbsp;</th>
				</tr>
                                {% for curPage in pages %}
                                    {% set curResultRoute = findRoute(curPage) %}
                                    {% set curMenuItem = findMenuItem(curPage) %}
                                    <tr class="">
                                            <td class="title"><a href="{{path(curResultRoute.route, curResultRoute.routeParameters)}}" target="_blank">{{curPage}}</a></td>
                                            <td class="category">{{getL1Parent(curMenuItem).name}}</td>
                                            <td class="remove"><a href="{{path('remove_from_binder', {'pageid': curPage.id})}}" class="">Remove</a></td>
                                    </tr>
                                {% endfor %}
			</tbody>
		</table>


		<table class="links" style="margin-left: 16%;" >
		   <tbody>
	    	<tr>
		        {#<td>
					<div class="link">
					    <a href="#">
					        Email Links
					    </a>
					</div>
					<div class="text">
					    Email yourself a list of links, so you can come back to the content any time.
					</div>                       
	    		</td>#}
        		<td class="spacer"></td>
        		<td>        
					<div class="link">
					    <a href="{{path('binder_get_pdf')}}">
					        Create PDF
					    </a>
					</div>
					<div class="text">
					    Save a PDF to your computer to keep your content in your records or print it out to read offline.
					</div>                                         
                </td>
            </tr>
        </tbody></table>
</div>
</div>
</div>
{% endblock %}