{% block compressed_root %}
{% spaceless %}
{% endspaceless %}
{% endblock %}

{% block root %}
{% set listAttributes = item.childrenAttributes %}
<ul class="accordion">
{% for curItem in item %}
	<li class="expandable">
		<div class="title">
		  <span>{{ curItem.name }}</span>
		</div>
		<div class="content">
                    <p><strong>{{curItem|getPage.caption}}</strong></p>
		    <a href="{{curItem.uri}}" class="more">Read More</a>
		</div>
		</li>
{% endfor %}
</ul>
{% endblock %}

         <li class="expandable">
             <div class="title">
               <span>{{ curItem.name }}</span>
             </div>
              <div class="content">
                  <h5> curItem|getpage.caption </h5>
                  <p> curItem.content </p>

                  <a href="{{curItem.uri}}" class="more">Read More</a>
              </div>
        </li>