{% extends 'KpSiteBundle::base.html.twig' %}

{% block pageid %}second{% endblock %}

{% block content %}
<div class="main">
    <div class="row">
            {% include "KpSiteBundle::sidebar.html.twig" %}
            <div class="six columns"id="content">

                <h3>{%if pagemenu is not null%}{{pagemenu.name}}{%else%}{{page.title}}{%endif%}</h3>

                {% if page.id != 'PageNotFound' %}
                    {% if not page|inBinder %}
                        <a href="{{path('add_to_binder', {'pageid': page.id})}}" class="add-to-binder add">+ Add to binder </a>
                    {% else %}
                        <a href="{{path('remove_from_binder', {'pageid': page.id})}}" class="add-to-binder">- Remove from binder </a>
                    {% endif %}
                {% endif %}

                <p class="caption">
                <strong>{{page.caption}}</strong>
                </p>
                <p>{{ page.content|raw }}</p>

                {%if pagemenu is not null%}{{ knp_menu_render(pagemenu, {'template': 'KpSiteBundle:Second:menu.html.twig'}) }}{%endif%}

            </div>
            <div class="four columns">
                {%if app.request.get('level1') == 'Inquiries' %}
                {% if app.session.hasFlash('notice') %}
                    <div class="flash-notice">
                        {{ app.session.flash('notice') }}
                    </div>
                {% endif %}
                <form action="/submit_contact_form" class="contact-form">
                    <h3>Contact us</h3>
                    <div class="row">
                        <div class="six columns"><input type="text" name="fname" placeholder="First Name" required /></div>
                        <div class="six columns"><input type="text" name="lname" placeholder="Last Name" required /></div>
                    </div>
                    <div class="row">
                    <div class="twelve columns"><input type="email" name="email" placeholder="email" required /></div>
                    </div>
                    <div class="row">
                    <div class="twelve columns"><input type="text" name="organisation" placeholder="Name of Organisation" /></div>
                    </div>
                    <select id="nature" name="subject" required>
                        <option value="">Please select a subject</option>
                        <option value="Service inquiry">Service inquiry</option>
                        <option value="Request a presentation">Request a presentation</option>
                        <option value="Working at KP">Working at KP</option>
                        <option value="Billing">Billing</option>
                        <option value="Publication">Publication</option>
                        <option value="Events">Events</option>
                        <option value="Professional & academic interest">Professional & academic interest</option>
                    </select><br /><br /> 

                    <textarea name="text" id="" cols="30" rows="10"></textarea> 
                    <input type="submit" text="Submit" class="button tiny alert"/>

                </form>

                {%endif%}
            </div>
        </div>
    </div>
{% endblock %}