{% form_theme form _self %}

{% block genemu_jqueryselect2_hidden_widget %}
<div class="controls sonata-ba-field sonata-ba-field-standard-natural ">
    {{ form_widget(form) }}
</div>
{% endblock %}

{% block genemu_jqueryselect2_hidden_javascript %}
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            var $field = $('#{{ id }}');

            var $configs = {{ configs|json_encode|raw }};

            // custom configs
            $configs = $.extend($configs, {
                initSelection: function(element, callback) {
                    var text = '';
                    if($field.parent().parent().children('input[type="hidden"]').val().length > 0) {
                        text = $field.parent().parent().children('input[type="hidden"]').val()
                    } else {
                        text = $field.val();
                    }
                    callback({id: $field.val(), text: text });
                },
                query: function (query) {
                    $.getJSON('{{path('get_units')}}?name='+query.term, function(data) {
                        var ret = {results: []};
                        $.each(data, function() {
                            ret.results.push({id: this.mm_id, text: this.name});
                        });
                        query.callback(ret);
                    });
                }
            });
            // end of custom configs

            $field.select2($configs);
        });
    </script>
{% endblock %}

{% block mmunit_widget %}
    <div class="control-group">
    {{ form_widget(form.mmId) }}
    {{ form_widget(form.name) }}
    </div>
{% endblock %}