{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block logo %}
    <a href="{{ url('sonata_admin_dashboard') }}" class="brand">
        <img src="{{ asset(admin_pool.titlelogo) }}"  alt="{{ admin_pool.title }}" />
        {{ admin_pool.title }}
    </a>
    <a href="{{ url('fos_user_security_logout') }}" style="float: right;" class="brand">
        {{'Logout'|trans()}}
    </a>
{% endblock %}

{% block footer %}
{% endblock %}