{% block compressed_root %}
{% spaceless %}
{% endspaceless %}
{% endblock %}

{% block root %}
{% set listAttributes = item.childrenAttributes %}

{% set firstchild = item.children|first %}
{% if firstchild.extras.searchResultsPage is defined and firstchild.extras.searchResultsPage == true %}

<ul class="accordion">
{% for curItem in item %}
        <li {% if curItem|getTaggedPages|length > 0 %} class="expandable"{% else %} class="clickable"{% endif %}>
          <div class="title"><span>{{ curItem.name }}</span></div>
          <div class="content">
            <div>
            <p><strong>{{curItem|getPage.caption}}</strong></p>
            </div>
            <ul class="inner">
                {#{% for curPage in curItem|getTaggedPages %}
                    {% set resultRoute = findRoute(curPage) %}
                    <li><a href="{{path(resultRoute.route, resultRoute.routeParameters)}}">{{ curPage.title }}</a></li>
                {% endfor %}#}
                <a href="{{curItem.uri}}" class="more">Read More</a>
            </ul>
          </div>
        </li>
{% endfor %}
</ul>

{% else %}

<ul class="accordion">
{% for curItem in item %}
  {% if curItem|length > 0 %}
          <li class="expandable">
            <div class="title">
              <span>{{ curItem.name }}</span>
            </div>
          <div class="content">
          <div>
          <p><strong>{{curItem|getPage.caption}}</strong></p>
          </div>
              <ul class="inner">
                  {% for curItem2 in curItem %}
                      <li><a href="{{curItem2.uri}}">{{ curItem2.name }}</a></li>
                  {% endfor %}
              </ul>
          </div>
        </li>         
        {% else %} 
         <li class="expandable">
             <div class="title">
               <span>{{ curItem.name }}</span>
             </div>
              <div class="content">
                  {%if curItem|getPage.position is defined %}
                    <div class="user">
                      <p><strong>{{curItem|getPage.caption}}</strong></p>
                      <p><strong>{{curItem|getPage.position}}</strong></p>
                    </div>    
                  {%else%}
                      <p><strong>{{curItem|getPage.caption}}</strong></p>
                  {% endif %}


                  <a href="{{curItem.uri}}" class="more">Read More</a>
              </div>
        </li>
{% endif %}

{% endfor %}
</ul>
{% endif %}
{% endblock %}