{% extends 'KpSiteBundle::base.html.twig' %}

{% block pageid %}search{% endblock %}

{% block content %}
    <div class="main">
        <div class="row">
           <div class="sidebar two columns">
               <ul class="nav one columns">
                <li class="home">
                    <a href="/">HOME</a>
                </li>
                {% if allowRefine is defined and allowRefine == true %}
                <li class="search-title">Refine results by:</li>

                {#<li class="current"><a href="/kp-law2/web/app_dev.php/expertise/">Relevance</a>#}
                <li>
                <ul class="nav2">
                  <li{%if app.request.get('refine') is null %} class="current"{%endif%}><a href="{{ path(app.request.attributes.get('_route'), {'search': app.request.get('search'), 'refine': null}) }}">All Results</a></li>
                  <li{%if app.request.get('refine') == 'expertise'%} class="current"{%endif%}><a href="{{ path(app.request.attributes.get('_route'), {'search': app.request.get('search'), 'refine': 'expertise'}) }}">Expertise</a></li>
                  <li{%if app.request.get('refine') == 'people'%} class="current"{%endif%}><a href="{{ path(app.request.attributes.get('_route'), {'search': app.request.get('search'), 'refine': 'people'}) }}">People</a></li>
                  <li{%if app.request.get('refine') == 'perspectives'%} class="current"{%endif%}><a href="{{ path(app.request.attributes.get('_route'), {'search': app.request.get('search'), 'refine': 'perspectives'}) }}">Perspectives</a></li>
                </ul>
                </li>
                {% endif %}
               </ul>

            </div>
            	<!-- .sidebar -->

            <div class="ten columns" id="content">

                <h3>{% if searchTitle is defined %}{{searchTitle}}{% else %}Search Results{% endif %}</h3>
                {% if search is defined %}
                  <form action="{{path('search')}}" method='get'>
                    <input type="text" name="search" class="search" placeholder="Search" value="{{search}}">
                  </form>
                    <a href="" class="save-search">+ save this search to bookmarks </a>
                {% endif %}
                <h4><span>{% if search is defined %}{{search}}:{% endif %}</span> ({{paginator.nbResults}} results)</h4>
                <div class="results">
                        {% for result in results %}
                	<div class="result">
                                {% set resultRoute = findRoute(result) %}
                		<h5><a href="{{path(resultRoute.route, resultRoute.routeParameters)}}">{% if result.type == 'page' %}{{result.title}}{% else %}{{result.fullName}}{% endif %}</a></h5>
                		<h6>{{result.caption}}</h6>
                                {% autoescape false %}
                                    <p>{{result.content|raw|striptags|truncate(300)}}</p>
                                {% endautoescape %}
                	</div>
                        {% endfor %}
                </div>
                <div class="pagination">
                  {{ pagerfanta(paginator) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}